<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>常规</string>
		<key>iden</key>
		<string>common</string>
		<key>clazz</key>
		<string>KMOSDemoVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>编辑</string>
		<key>iden</key>
		<string>editing</string>
		<key>clazz</key>
		<string>KMEditingDemo</string>
	</dict>
</array>
</plist>
